.marketplace-page {
    background: #2b2b2b;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

.hero-marketplace {
    margin: 0 auto;
    padding: 64px 24px;
}

.hero-title-marketplace {
    line-height: 1.05;
    font-weight: 800;
    margin-bottom: 12px;
}

.hero-sub-marketplace {
    color: #cfcfcf;
    font-size: 1.125rem;
    margin-bottom: 24px;
}

.search-bar {
    max-width: 1050px;
    flex: 1;
}

.search-field .MuiOutlinedInput-root {
    height: 60px;
    border-radius: 16px;
    background-color: #3b3b3b;
    color: #fff;
}

.search-field input::placeholder {
    color: #858584;
}

.nft-items {
    background-color: #3b3b3b;
    margin: 0 auto;
    padding: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    align-items: start;
}

.wrap-search-filter{
    display: flex;
    gap: 16px;
    align-items: center;
}

.filter-menu {
    width: 180px;
}

.form-control {
  min-width: 220px;
  width: auto;
}

.filter-menu .MuiInputBase-input {
  color: #ffffff;
}

.filter-menu .MuiInputLabel-root {
  color: #cccccc; 
}
.filter-menu .MuiMenuItem-root {
  color: #ffffff;
}

.filter-menu .MuiPaper-root {
  background-color: #2f2f2f;
}

@media (max-width: 960px) {
    .hero-marketplace {
        padding: 48px 16px 16px;
    }
    .nft-items {
        padding: 16px;
        gap: 20px;
    }
}
@media (max-width: 600px){
    .form-control {
        width: 100%;  /* take full width on mobile */
        min-width: auto; /* allow shrinking */
    }
}

