.nft-card {
    background-color: #2b2b2b;
    color: #fff;
    overflow: visible;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.nft-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0;
}

.nft-card-content {
    background-color: #1f1f1f;
    padding: 16px;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
}

.nft-name {
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.nft-creator {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 8px;
}

.nft-avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.nft-creator-name {
    color: #bdbdbd;
}

.nft-price {
    display: grid;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 8px;
}

.nft-price-label {
    color: #9e9e9e;
    font-size: 0.9rem;
}

.nft-price-value {
    color: #ffffff;
    font-weight: 600;
}
